/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.long_section {
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

    .heading_container h2 {
        position: relative;
        font-weight: bold;
        text-transform: uppercase;
    }

/*header section*/
.hero_area {
    min-height: 62vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub_page .hero_area {
    min-height: auto;
}

.header_section {
    background-color: #ffffff;
}

    .header_section .container-fluid {
        padding-right: 25px;
        padding-left: 25px;
    }

    .header_section .nav_container {
        margin: 0 auto;
    }

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 3px 15px;
    margin: 10px 15px;
    color: #272727;
    text-align: center;
    text-transform: uppercase;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: initial;
    }

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #272727;
    text-transform: uppercase;
}

.custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
}

    .custom_nav-container .navbar-toggler {
        outline: none;
    }

    .custom_nav-container .navbar-toggler {
        padding: 0;
        width: 37px;
        height: 42px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .custom_nav-container .navbar-toggler span {
            display: block;
            width: 32px;
            height: 4px;
            background-color: #000000;
            border-radius: 15px;
            margin: 7px 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            transition: all 0.3s;
        }

            .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #000000;
                border-radius: 15px;
                top: -10px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            .custom_nav-container .navbar-toggler span::after {
                top: 10px;
            }

        .custom_nav-container .navbar-toggler[aria-expanded="true"] {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

            .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

                .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    top: 0;
                }

.quote_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .quote_btn-container a {
        color: #151515;
        margin-right: 25px;
        text-transform: uppercase;
    }

        .quote_btn-container a span {
            margin-right: 5px;
        }

/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-color: #f9fafa;
}

    .slider_section .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .slider_section #customCarousel {
        width: 100%;
        z-index: 3;
    }

    .slider_section .detail-box {
        color: #000000;
    }

        .slider_section .detail-box h1 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .slider_section .detail-box p {
            margin: 25px 0;
        }

        .slider_section .detail-box .btn-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 -5px;
        }

            .slider_section .detail-box .btn-box a {
                margin: 5px;
                text-align: center;
                width: 165px;
            }

            .slider_section .detail-box .btn-box .btn1 {
                display: inline-block;
                padding: 10px 15px;
                background-color: #f89646;
                color: #ffffff;
                border-radius: 0;
                border: 1px solid #f89646;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

                .slider_section .detail-box .btn-box .btn1:hover {
                    background-color: transparent;
                    color: #f89646;
                }

            .slider_section .detail-box .btn-box .btn2 {
                display: inline-block;
                padding: 10px 15px;
                background-color: #6bb7be;
                color: #ffffff;
                border-radius: 0;
                border: 1px solid #6bb7be;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

                .slider_section .detail-box .btn-box .btn2:hover {
                    background-color: transparent;
                    color: #6bb7be;
                }

    .slider_section .img-box img {
        width: 100%;
    }

    .slider_section .carousel-indicators {
        position: unset;
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 45px;
    }

        .slider_section .carousel-indicators li {
            background-color: #6bb7be;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            opacity: 1;
        }

            .slider_section .carousel-indicators li.active {
                width: 17px;
                height: 17px;
                background-color: #f89646;
            }

.furniture_section .box {
    margin-top: 45px;
    background-color: #f7fafa;
    padding: 25px;
    border-radius: 5px;
}

    .furniture_section .box .img-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 275px;
        padding: 25px;
    }

        .furniture_section .box .img-box img {
            max-width: 100%;
            max-height: 100%;
        }

    .furniture_section .box .detail-box {
        margin-top: 15px;
    }

        .furniture_section .box .detail-box h5 {
            text-transform: uppercase;
            font-size: 18px;
        }

        .furniture_section .box .detail-box .price_box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

            .furniture_section .box .detail-box .price_box .price_heading {
                margin-bottom: 0;
            }

                .furniture_section .box .detail-box .price_box .price_heading span {
                    color: #6bb7be;
                }

            .furniture_section .box .detail-box .price_box a {
                color: #6bb7be;
                text-transform: uppercase;
                font-size: 15px;
            }

.about_section {
    background-color: #f9fafa;
}

    .about_section .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about_section .img-box img {
        width: 100%;
    }

    .about_section .detail-box p {
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .about_section .detail-box a {
        display: inline-block;
        padding: 10px 45px;
        background-color: #6bb7be;
        color: #ffffff;
        border-radius: 0;
        border: 1px solid #6bb7be;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

        .about_section .detail-box a:hover {
            background-color: transparent;
            color: #6bb7be;
        }

.blog_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .blog_section .heading_container h2::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

.blog_section .box {
    margin-top: 55px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

    .blog_section .box .img-box {
        position: relative;
    }

        .blog_section .box .img-box img {
            width: 100%;
        }

    .blog_section .box .detail-box {
        padding: 25px;
    }

        .blog_section .box .detail-box h5 {
            font-weight: bold;
        }

        .blog_section .box .detail-box p {
            font-size: 15px;
            color: #444;
        }

        .blog_section .box .detail-box a {
            display: inline-block;
            padding: 10px 30px;
            background-color: #6bb7be;
            color: #ffffff;
            border-radius: 0;
            border: 1px solid #6bb7be;
            -webkit-transition: all .2s;
            transition: all .2s;
        }

            .blog_section .box .detail-box a:hover {
                background-color: transparent;
                color: #6bb7be;
            }

.client_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 45px;
    padding: 35px 25px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

    .client_section .box .img-box {
        border-radius: 100%;
        border: 10px solid #6bb7be;
        margin-right: 25px;
        min-width: 175px;
        max-width: 175px;
        overflow: hidden;
    }

        .client_section .box .img-box img {
            width: 100%;
        }

    .client_section .box .detail-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

        .client_section .box .detail-box .name {
            text-align: center;
        }

            .client_section .box .detail-box .name img {
                width: 25px;
                margin-bottom: 5px;
            }

            .client_section .box .detail-box .name h6 {
                color: #6bb7be;
                font-size: 20px;
            }

.client_section .carousel_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    position: unset;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: #6bb7be;
    background-position: center;
    border-radius: 100%;
    margin: 0 2.5px;
}

    .client_section .carousel-control-prev:hover,
    .client_section .carousel-control-next:hover {
        background-color: #000000;
    }

.client_section .carousel-control-next {
    left: initial;
}

.contact_section {
    position: relative;
    background-color: #f9fafa;
    padding-top: 75px;
    padding-bottom: 75px;
}

    .contact_section .heading_container {
        margin-bottom: 25px;
    }

        .contact_section .heading_container h2 {
            text-transform: uppercase;
        }

    .contact_section .form_container input {
        width: 100%;
        border: none;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 15px;
        outline: none;
        color: #101010;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    }

        .contact_section .form_container input::-webkit-input-placeholder {
            color: #333;
        }

        .contact_section .form_container input:-ms-input-placeholder {
            color: #333;
        }

        .contact_section .form_container input::-ms-input-placeholder {
            color: #333;
        }

        .contact_section .form_container input::placeholder {
            color: #333;
        }

        .contact_section .form_container input.message-box {
            height: 120px;
        }

    .contact_section .form_container button {
        border: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 55px;
        background-color: #6bb7be;
        color: #ffffff;
        border-radius: 0px;
        border: 1px solid #6bb7be;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

        .contact_section .form_container button:hover {
            background-color: transparent;
            color: #6bb7be;
        }

    .contact_section .map_container {
        height: 500px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 0;
    }

        .contact_section .map_container .map {
            height: 100%;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

            .contact_section .map_container .map #googleMap {
                height: 100%;
            }

.info_section {
    background-color: #191e1f;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
}

    .info_section .contact_nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 25px 0;
        text-align: center;
    }

        .info_section .contact_nav a {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #ffffff;
        }

            .info_section .contact_nav a i {
                font-size: 28px;
            }

            .info_section .contact_nav a:hover {
                color: #f89646;
            }

    .info_section .info_top {
        padding: 45px 0;
    }

    .info_section h4 {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 25px;
    }

    .info_section .info_links .info_links_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .info_section .info_links .info_links_menu a {
            color: #ffffff;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        }

            .info_section .info_links .info_links_menu a:hover, .info_section .info_links .info_links_menu a.active {
                color: #f89646;
            }

    .info_section .info_post .post_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .info_section .info_post .post_box .img-box {
            min-width: 65px;
            max-width: 65px;
            height: 65px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #ffffff;
            -ms-flex-preferred-size: calc(33% - 10px);
            flex-basis: calc(33% - 10px);
            padding: 10px;
            margin: 5px;
        }

            .info_section .info_post .post_box .img-box img {
                max-width: 100%;
                max-height: 100%;
            }

        .info_section .info_post .post_box p {
            margin: 0;
        }

        .info_section .info_post .post_box:not(:nth-last-child(1)) {
            margin-bottom: 15px;
        }

    .info_section .info_form input {
        width: 100%;
        border: none;
        height: 45px;
        margin-bottom: 15px;
        padding-left: 25px;
        background-color: #eaeaea;
        outline: none;
        color: #101010;
    }

    .info_section .info_form button {
        display: inline-block;
        padding: 10px 45px;
        background-color: #6bb7be;
        color: #ffffff;
        border-radius: 0px;
        border: 1px solid #6bb7be;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

        .info_section .info_form button:hover {
            background-color: transparent;
            color: #6bb7be;
        }

    .info_section .info_form .social_box {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 25px;
    }

        .info_section .info_form .social_box a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 5px;
            width: 45px;
            height: 45px;
            border: 1px solid #6bb7be;
            color: #6bb7be;
            font-size: 18px;
            margin-right: 10px;
        }

            .info_section .info_form .social_box a:hover {
                color: #f89646;
                border-color: #f89646;
            }

/* footer section*/
.footer_section {
    position: relative;
    text-align: center;
}

    .footer_section p {
        color: #000000;
        padding: 25px 0;
        margin: 0;
    }

        .footer_section p a {
            color: inherit;
        }
/*# sourceMappingURL=style.css.map */




/*//////////////////////////////////////////////////Dang Ky*/

.register {
    text-align: center;
}

.register_form {
    display: inline-block;
    text-align: center;
    height: 490px;
    width: 490px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 6px 6px black;
}

    .register_form p {
        text-align: center;
        font-size: 36px;
        color: black;
        margin-top: 16px;
    }

    .register_form .register_email {
        margin-top: 32px;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-right: 12px;
    }

        .register_form .register_email #email {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }


    .register_form .register_phone {
        margin-top: 26px;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-right: 12px;
    }

        .register_form .register_phone #phone_number {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }

    .register_form .register_fullname {
        margin-right: 14px;
        margin-top: 32px;
        font-size: 18px;
        color: black;
        text-align: center;
    }

        .register_form .register_fullname #fullname {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }


    .register_form .register_password {
        margin-top: 26px;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-right: 16px;
    }

        .register_form .register_password #password {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }


    .register_form .register_submit {
        width: 223px;
        height: 32px;
        background: #1FCE6D;
        border: 0;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        transition: background .3s ease-in-out;
        margin-top: 30px;
        margin-right: 12px
    }

        .register_form .register_submit:hover {
            background: black;
        }

    .register_form .register_confirmPassword {
        margin-top: 32px;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-right: 12px;
    }

        .register_form .register_confirmPassword #confirmPassword {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }


.register_errorEmail {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 135px;
}

.register_errorPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 109px;
}

.register_errorFullName {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 111px;
}

.register_errorPhone {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 130px;
}

.register_errorConfirmPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 58px;
}

/*////////////////////////////////////////Seach*/
.search {
    background-color: orange;
    border: 1px;
    border-radius: 5px;
    opacity: 0.8;
    font-size: 18px;
    padding-bottom: 3px;
}

/*
//////////////////////////////////////////////////////////// DAng nhap
*/
.login {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.login_form {
    display: inline-block;
    text-align: center;
    height: 340px;
    width: 490px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 6px 6px black;
}

    .login_form .login_Register {
        display: inline-block;
        margin-top: 15px;
    }

    .login_form p {
        text-align: center;
        font-size: 36px;
        color: black;
        margin-top: 16px;
    }

    .login_form .login_email {
        margin-top: 26px;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-right: 12px;
    }

        .login_form .login_email #email {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }



    .login_form .login_password {
        margin-top: 26px;
        font-size: 18px;
        color: black;
        text-align: center;
        padding-right: 12px;
    }

        .login_form .login_password #password {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }


    .login_form .login_submit {
        width: 223px;
        height: 32px;
        background: #1FCE6D;
        border: 0;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        transition: background .3s ease-in-out;
        margin-top: 30px;
        margin-right: 12px
    }

        .login_form .login_submit:hover {
            background: black;
        }

    .login_form .login_confirmPassword {
        margin-top: 26px;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-right: 12px;
    }

        .login_form .login_confirmPassword #confirmPassword {
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }



.login_errorEmail {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 135px;
}


.login_errorPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 109px;
}





/*//////////////////////////////////////////////////////Changepasssseeed*/

.content .changePassword {
    margin-left: 668px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.changePass_Form {
    text-align: center;
    height: 490px;
    width: 490px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.5;
    box-shadow: 6px 6px black;
}

.content .changePass_Form p {
    text-align: center;
    font-size: 36px;
    color: black;
    margin-top: 16px;
}

.content .changePass_Form .changeEmail {
    margin-top: 30px;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-right: 12px;
}

    .content .changePass_Form .changeEmail #email {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
    }


.content .changePass_Form .change_Password {
    margin-top: 32px;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-right: 16px;
}

    .content .changePass_Form .change_Password #password {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
    }

.content .changePass_Form .change_NewconfirmPassword {
    margin-top: 32px;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-right: 16px;
}

    .content .changePass_Form .change_NewconfirmPassword #newPassword {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
    }



.content .changePass_Form .change_submit {
    width: 223px;
    height: 32px;
    background: #1FCE6D;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    margin-top: 30px;
    margin-right: 12px
}

    .content .changePass_Form .change_submit:hover {
        background: black;
    }

.content .changePass_Form .change_ConfirmPassword {
    margin-top: 30px;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-right: 12px;
}

    .content .changePass_Form .change_ConfirmPassword #confirmPassword {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
    }


.content .errorChangeEmail {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 135px;
}


.content .errorChangePassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 109px;
}


.content .errorNewConfirmPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 58px;
}

.content .errorChangeConfirmPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    float: right;
    margin-right: 58px;
}


/*//////////////////// dropdown menu*/
.dropdown-menu {
    position: relative;
    width: 200px;
    height: 30px;
    display: inline-block;
    color: black;
    text-align: center;
    padding-bottom: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

    .dropdown-menu:hover .dropdown-content {
        display: block;
    }

    .dropdown-menu .dropdown-content {
        position: absolute;
        width: 200px;
        height: 72px;
        display: none;
        margin-top: 10px;
        z-index: 1;
    }

        .dropdown-menu .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
            /*padding: 7px 5px;*/
            text-align: center;
            font-size: 20px;
        }

            .dropdown-menu .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

.content {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 16px;
}

/*///////////////////PAGELIST*/


 .content   .pagination-container {
    text-align: center;
    width: 900px;
    margin-top: 10px;
    margin-bottom:50px;
}

    .pagination-container .pagination {
        list-style: none;
        display:inline-block;
    }

        /*.hero .pageList{
    
    width:200px;
    text-align:center;
    height:10px;
}*/
        .pagination-container .pagination li {
            display: inline;
            /*float: left;*/
            width: 35px;
            height: 35px;
            padding: 5px 10px 5px;
            background-color: black;
            border: 2px solid black;
            border-radius: 5px;
            color: orange;
            font-weight: bold;
            transition: background-color 1s, color 1s;
            cursor:pointer;
        }
        

            .pagination-container .pagination li:hover {
                display: inline;
                /*float: left;*/

                background-color: orange;
                border: 2px solid black;
                border-radius: 5px;
                color:black;

            }

            .pagination-container .pagination li a {
                text-decoration: none;
                
            }



/*
//////////////////////////////////////////Product*/

.shop_category {
    float: left;
    width: 15%;
    background-color: #dddd;
    max-height: 500px;
    padding-right: 0px;
    margin:0;
    
    border: 1px solid white;
}
    .shop_category .category {
        margin-left:20px;   
    }

.shop_category h1{
    font-size:23px;
    padding:6px;
}

    .shop_category .category li {
        color: black;
        font-size: 29px;
        list-style: none;
        /*        transition: background-color 1s, color 1s;*/
        transition-duration: 1s;
    }

        .shop_category .category li a {
            color: black;
            font-size: 16px;
            text-decoration: none;
            
        }

    .shop_category .category li:hover {
        background-color:white;
    }

    


.shop_product {
    display: inline-block;
    width: 85%;
    max-height: 1410px;
    /* padding-left:8px;
    padding-right:8px;*/
    background-color: #dddddd;
    border:1px solid white;
}   

.info_product {
    background-color: white;
    height:135px;
    width:100%;
}

    .info_product p {
        word-wrap:break-word;
    }

.product {
    float: left;
    width: 20%;
/*    max-height: 340px;*/
    /*m*argin-left:6px;
    margin-right:-6px;*/
    width: 20%;
    padding: 0 5px;
    transition-duration: 0.5s;
    color: black;
    height: 340px;
    font-size: 15px;
}

    .product:hover {
        transform: scale(1.1);
    }



/*

////////////////////////////////////////// sap xep giam tang dan
*/

.sort_product{
    margin-bottom:15px;
}

.sort_product p{
    margin-left:15px;
    margin-right:15px;
    float:left;
}

.price_sort {
    position: relative;
    background-color: white;
    display: inline-block;
    font-size: 15px;
}

.price_sort p {
    color: black;
    padding: 8px 12px;
    text-align: center;
    margin: 0;
}

.price_sort:hover {
    background-color: #dddddd;
    cursor: pointer;
}

    .price_sort:hover .sort_droplist {
        display: block;
    }


.price_sort .sort_droplist {
    position: absolute;
    background-color: white;
    display: none;
}

    .price_sort .sort_droplist a {
        display: block;
        text-align: center;
        padding: 12px 15px;
        font-size: 14px;
        text-decoration: none;
        color: black;       
        transition-duration: 1s;
    }


        .price_sort .sort_droplist a:hover {
            background-color: #dddddd;
            color: black;
        }



/*//////////////////////////////////////////////////Chi tiet san pham*/

.detail {
    display: flex;
    margin-bottom:20px;
}

.image_detail {
    width: 50%;
    height:500px;
}

.info_detail{
    width:50%;
    height:500px;
}

.name_detail {
    margin-left: 15px;
    font-size: 21px;
}

.description_detail {
    margin-left: 15px;
    font-size: 21px;
}

.price_detail {
    margin-left: 15px;
    font-size: 21px;
}

.order_product{
    display:inline-block;
    background-color:red;
    border-radius:5px;
    opacity:0.9;
    float:right;
    margin-right:100px;
}

.order_product:hover {
   background-color:black;
}

    .order_product a {
        padding: 6px 20px;
        font-size: 26px;
        text-align: center;
        text-decoration: none;
        color:black;
    }

.order_product a:hover{
    color:red;
}

/*/////// css search sap xep*/

.admin_sort_product p {
        margin-left: 15px;
        margin-right: 15px;
        margin-top:9px;
        float: left;
    }

.admin_price_sort {
    position: relative;
    background-color: purple;
    display: inline-block;
    font-size: 15px;
}

    .admin_price_sort p {
        color: white;
        padding: 8px 12px;
        text-align: center;
        margin: 0;
        transition: background-color 1s, color 1s;
    }

    .admin_price_sort:hover p{
        background-color: white;
        cursor: pointer;
        color:purple;
    }

        .admin_price_sort:hover .admin_sort_droplist {
            display: block;
        }


    .admin_price_sort .admin_sort_droplist {
        position: absolute;
        background-color: white;
        display: none;
        margin-top: 38px;
    }

    .admin_price_sort .admin_sort_droplist a {
        display: block;
        text-align: center;
        padding: 12px 15px;
        font-size: 14px;
        text-decoration: none;
        color: black;
        transition-duration: 1s;
    }


        .admin_price_sort .admin_sort_droplist a:hover {
            background-color: #dddddd;
            color: black;
        }


.header_managerproduct{
    display:flex;
}

//////////////// csss button
/*
//////////////////////////////info back*/
.info_back {
    display: inline-block;
}

.info_back .back_to_list {
    float: left;
}

.info_back .info_submit {
    display: inline-block;
    margin-top: -12px;
    margin-left: 15px;
}

    .info_back .info_submit .info_create {
        background-color: springgreen;
        padding: 12px 208px;
        border: none;
        transition: background-color 1s, color 1s;
    }

        .info_back .info_submit .info_create:hover {
            background-color: black;
            color: springgreen;
        }


    .info_back .info_submit .info_edit {
        background-color: springgreen;
        padding: 12px 188px;
        border: none;
        transition: background-color 1s, color 1s;
    }

        .info_back .info_submit .info_edit:hover {
            background-color: black;
            color: springgreen;
        }


.info_back .back_to_list a {
    text-decoration: none;
    color: black;
    padding: 12px 180px;
    background-color: springgreen;
    transition: background-color 1s, color 1s;
}

    .info_back .back_to_list a:hover {
        background-color: black;
        color: springgreen;
    }

/*/////////////////////////////////////Create product
*/
/*category_id
*/
.col-md-10 #category_id {
    width: 846px;
    height: 46px;
    border: none;
}

.col-md-10 #price {
    width: 846px;
    height: 46px;
    border: none;
}

.create_product {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

    .create_product a {
        padding: 10px 32px;
        background-color: purple;
        color: white;
        text-decoration: none;
        margin: 10px;
        transition: background-color 1s, color 1s;
    }

        .create_product a:hover {
            background-color: white;
            color: purple;
        }


.edit_product {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .edit_product a {
        padding: 10px 32px;
        background-color: purple;
        color: white;
        text-decoration: none;
        margin: 10px;
        transition: background-color 1s, color 1s;
    }

        .edit_product a:hover {
            background-color: white;
            color: purple;
        }


.del_product {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .del_product a {
        padding: 10px 32px;
        background-color: purple;
        color: white;
        text-decoration: none;
        margin: 10px;
        transition: background-color 1s, color 1s;
    }

        .del_product a:hover {
            background-color: white;
            color: purple;
        }

.createproduct_errorName {
    font-size: 14px;
    margin-top: 10px;
    color: blue;
    margin-right: 111px;
}

.createproduct_errorPrice {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    margin-right: 130px;
}

.createUser_errorEmail {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    margin-right: 130px;
}

.createUser_errorPassword {
    font-size: 14px;
    margin-top: 10px;
    color: red;
    margin-right: 130px;
}

