
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- furniture section -->

<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                SẢN PHẨM CỦA CHÚNG TÔI
            </h2>
            <p>
                Tư vấn tận tâm, mang đến sức khỏe cho khách hàng của chúng tôi
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/2chieu.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Đi?u hoà 1 chi?u
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 800000
                            </h6>
                            <a href="/Shop/ChiTiet/23">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/2chieu.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Điều hòa 2 chiều Funiki 9.000 BTU HSH-09TMU (HSH-10TMU)
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 800000
                            </h6>
                            <a href="/Shop/ChiTiet/23">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/cay.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Điều hòa tủ đứng 1 chiều Nagakawa NP-C28DH+ (28000BTU)
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 1000000
                            </h6>
                            <a href="/Shop/ChiTiet/24">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/amtran.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Điều hoà âm trần 1 chiều 18000 BTU Sumikura APC/APO-180/8W-A
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 500000
                            </h6>
                            <a href="Shop/ChiTiet/25">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/aptran.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Điều hòa áp trần 1 chiều 28000BTU Casper CFC-28TL22
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 500000
                            </h6>
                            <a href="/Shop/ChiTiet/26">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/quatdieuhoa.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Máy làm mát 3 tốc độ Nagakawa NFC555 (21L-75W) - Có đá khô
                        </h5>
                        <div class="price_box">
                            <h6 class="price_heading">
                                <span>vnd</span> 700000
                            </h6>
                            <a href="/Shop/ChiTiet/27">
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end furniture section -->
<!-- about section -->

<section class="about_section layout_padding long_section " id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/Content/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Thông tin về chúng tôi
                        </h2>
                    </div>
                    <p>
                    </p>
                    <a href="">
                        Đọc thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- blog section -->   

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Blog mới nhất
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/b1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Học thầy không tày học bạn
                        </h5>
                        <p>
                            Nếu bạn có những người bạn tốt bạn cũng sẽ có một người bạn giống như thầy của bạn
                        </p>
                        <a href="">
                            Đọc thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/b2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sống hết mình cho ngày hôm nay
                        </h5>
                        <p>
                            Chạy KPI để theo kịp cuộc sống
                        </p>
                        <a href="">
                            Đọc thêm
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/b3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Hãy đầu sức khỏe của bạn một cách đúng đắng nhất 
                        </h5>
                        <p>
                            Vì vậy hãy chọn lựa các sản phẩm của chúng tôi
                        </p>
                        <a href="">
                            Đọc thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end blog section -->
<!-- client section -->
<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Chứng nhận
            </h2>
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/Content/images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Võ Đức mạnh
                                        </h6>
                                    </div>
                                    <p>
                                        Một thành viên cốt cáng của công ty
                                        nếu không có thì không của ngày thành công của công ty
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/Content/images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Nguyễn Duy Tân
                                        </h6>
                                    </div>
                                    <p>
                                        Đầu tư vốn vào công ty và các mối quan hệ ngoài luồng khác
                                        giúp công ty phát triển và hình ảnh công ty được quản bá rộng rãi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-11 col-lg-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/Content/images/client.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <div class="name">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        <h6>
                                            Hoàng Điệp Thế Bảo
                                        </h6>
                                    </div>
                                    <p>
                                        Là người đứng phía sau của công ty chuyên phụ trách về cơ sở hạ tần
                                        và vận hành hoạt động của công ty
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-container">
                <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
